.buysellcard-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;

	.buysellcard {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 5.5rem;
		border-radius: 1rem;
		width: 45%;
	}

	.buysellcard-currency {
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 9999px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.buy-color {
		background-image: linear-gradient(#18BBFA, #1C80F3);
	}

	.sell-color {
		background-image: linear-gradient(#FE5E82, #FC2F9C);
	}

	.buysellcard-title {
		font-size: 0.8rem;
		font-weight: 600;
		margin-top: 0.35rem;
	}
}