.cryptocard-container {
	width: 100%;
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 1rem 1.5rem 0.5rem 1.5rem;

	.cryptocard-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.9rem;

		.cryptocard-title {
			display: flex;
			align-items: center;
			font-weight: 600;
		}

		.cryptocard-sign {
			width: 2.2rem;
			height: 2.2rem;
			margin-right: 0.7rem;
			color: #ffb736;
		}

		.cryptocard-subtitle {
			color: #afb9c5;
		}
	}

	.cryptocard-amount {
		font-weight: 500;
		padding: 0.8rem 0 0.2rem 0;
		font-size: 1.9rem;
	}

	.cryptocard-value-percent {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.cryptocard-dollar-value {
			color: #aeb8c4;
			font-weight: 500;
			font-size: 1.1rem;
		}

		.cryptocard-percent {
			color: #ffffff;
			background-color: #ee225d;
			border-radius: 2rem;
			padding: 0.25rem 0.7rem;
			font-size: 0.7rem;
			font-weight: 600;
		}
	}

	.cryptocard-dropdown-container {
		display: flex;
		justify-content: center;

		.cryptocard-dropdown-icon {
			margin-top: 0.8rem;
			width: 2rem;
			height: 2rem;
			color: #aeb8c4;
		}

		.cryptocard-dropdown-icon:hover {
			cursor: pointer;
		}

		.rotate-cryptocard-dropdown-icon {
			transform: rotate(180deg);
		}
	}

	.cryptocard-actions {
		background-color: #f3f6f9;
		border-radius: 1rem;
		padding: 0.75rem;
	}
}
