@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f3f6f9;
	color: #4c5968;
	font-family: 'Poppins', sans-serif;
	max-width: 426px;
	margin-left: auto;
	margin-right: auto;
	padding: 5rem 0;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.card-shadow {
	box-shadow: 0 25px 25px -25px rgb(0 0 0 / 0.1);
}

.page-title {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin-top: 1rem;
}

.hoveritem:hover {
	transform: scale(1.2, 1.2);
	transition: 0.3s ease-in-out;
}
