@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f3f6f9;
	color: #4c5968;
	font-family: 'Poppins', sans-serif;
}

main {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5rem 1rem;
}

@media (min-width: 770px) {
	main {
		max-width: 768px;
	}
}

.card-shadow {
	box-shadow: 0 25px 25px -25px rgb(0 0 0 / 0.1);
}

.page-title {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin-top: 1rem;
}

.hoveritem:hover {
	--tw-scale-x: 1.2;
	--tw-scale-y: 1.2;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition: 0.3s ease-in-out;
}
